extends layout.jade

block content
	script(type='text/javascript').
		$(function(){
			new app.Bathroom();
		});

	select#location(name='location')
		option(value='bathroom') Bathroom
		option(value='kitchen') Kitchen
	main#bathroom.container
		span.timer
