doctype html
html
	head
		title= title
		meta(name="apple-mobile-web-app-title", content="Shitty Timer")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="#52ecc2")
		link(rel="apple-touch-icon", href="images/touch-icon-iphone.png")
		link(rel="apple-touch-icon", sizes="152x152", href="images/touch-icon-ipad.png")
		link(rel="apple-touch-icon", sizes="180x180", href="images/touch-icon-iphone-retina.png")
		link(rel="apple-touch-icon", sizes="167x167", href="images/touch-icon-ipad-retina.png")
		link(rel="apple-touch-startup-image", href="images/launch.png")
		link(rel="icon", href="images/favicon.ico")
		link(rel="icon", type="image/png", sizes="36x36", href="images/android-icon-36x36.png")
		link(rel="icon", type="image/png", sizes="48x48", href="images/android-icon-48x48.png")
		link(rel="icon", type="image/png", sizes="72x72", href="images/android-icon-72x72.png")
		link(rel="icon", type="image/png", sizes="96x96", href="images/android-icon-96x96.png")
		link(rel="icon", type="image/png", sizes="144x144", href="images/android-icon-144x144.png")
		link(rel="icon", type="image/png", sizes="192x192", href="images/android-icon-192x192.png")
		link(rel="icon", type="image/png", sizes="32x32", href="images/favicon-32x32.png")
		link(rel="icon", type="image/png" sizes="96x96", href="images/favicon-96x96.png")
		link(rel="icon", type="image/png", sizes="16x16", href="images/favicon-16x16.png")
		link(rel="manifest", href="manifest.json")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Indie+Flower|Poiret+One")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js', type='text/javascript')
		script(type='text/javascript', src="../vendor/typed.js")
		script(type='text/javascript', src='../javascripts/initialize.js')
		script(type='text/javascript', src='../javascripts/current_user.js')
		script(type='text/javascript', src='../javascripts/bathroom.js')
		
	body
		section#first-time-form
			div.heading
				img(src="images/man.png")
				div.speech-bubble
					h3 Hey there! <br/>
						| Do you live here?
			div#map
			div.keep-unknown-container
				input(type="checkbox" name="keep-unknown" id="keep-unknown" value="1")
				label(class="unknown" for="keep-unknown" alt="Remain Anonymous") Remain Anonymous
			div.controls
				a.permission(href="#", data-value="1") Yes
				a.permission(href="#", data-value="0") No
				
		div#username-form
			input(type="text", id="username" name="username" placeholder="Giulio")
		
		a#bottom-button.done(href="#") done
				
				
		script(type='text/javascript').
			$(function(){
				new app.CurrentUser();
				$('.speech-bubble h3').typed({
				    strings: ["Hey there! I have never seen you before", "Do you live here?"],
				    contentType: 'text' // or 'html'
				});
			});
		
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIM3rGtFnMAYBEnnq_josyrF7yUeKywNI", async defer)
		block content
