*{box-sizing: border-box;}

body {
	position: relative;
	display: block;
	margin: 0;
  padding: 0;
  font-family: 'Barrio', cursive, Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.available{
	background-color: rgb(43, 218, 34);
}

.busy{
	background-color: rgb(237, 19, 19);
}
